<div id="site">
  <div class="well well-lg clearfix">
    <h1 class="text-center">Setup Custom HearthQuiz</h1>
  </div>
</div>

<div id="loading" class="hidden">
  <div class="well well-lg clearfix">
    <h1 class="text-center">Connecting To Server...</h1>
  </div>
</div>
