<div id="site">
  <div class="well well-lg clearfix">
    <h1 class="text-center">Setup Custom HearthQuiz</h1>
    <select class="form-control" id="classSelect">
      <option>All</option>
      <option>Neutral</option>
      <option>Druid</option>
      <option>Hunter</option>
      <option>Mage</option>
      <option>Paladin</option>
      <option>Priest</option>
      <option>Rogue</option>
      <option>Shaman</option>
      <option>Warlock</option>
    </select>
    <select class="form-control" id="typeSelect">
      <option>All</option>
      <option>Minion</option>
      <option>Spell</option>
    </select>
    <select class="form-control" id="setSelect">
      <option>All</option>
      <option>Basic</option>
      <option>Expert</option>
      <option>Naxxaramas</option>
    </select>
    <select class="form-control" id="quizSelect">
      <option>Flash Card</option>
      <option>Knowledge Entry</option>
    </select>
  </div>
</div>

<div id="loading" class="hidden">
  <div class="well well-lg clearfix">
    <h1 class="text-center">Connecting To Server...</h1>
  </div>
</div>
