//Variables

@backgroundColor: #246068;
@well: #9d9d9d;

//CSS

html, body {
  height: 100%;
  background-color: @backgroundColor;
}

body {
  padding-top: 70px;
}

.well {
  background-color: @well;
  border: 1px solid @well;
}
