//Variables

@backgroundColor: #246068;
@well: #9d9d9d;
@animateTime: 0.35s;

//Font
/*
@font-face {
  font-family: Hearthstone,
  src: url('/fonts/hearthstoneFont.ttf');
} */

//CSS

html, body {
  height: 100%;
  background-color: @backgroundColor;
}

body {
  padding-top: 70px;
}

.well {
  background-color: @well;
  border: 1px solid @well;
}

.quizLabel {
  padding-top: 5px;
}

.textHeader {
  margin-bottom: 30px;
}

#startQuizBtn {
  margin-left: 10px
}

#mainWell {
  min-height: 560px;
}

#instructionText {
  float: left;
  display: inline-block;
}

#cardCount {
  float: right;
  display: inline-block;
}

#mainImage {
  display: block;
  background-repeat: no-repeat;
  width: 280px;
  height: 412px;
  background-position: -12px -32px;
  margin-left: auto;
  margin-right: auto;
}

#mainCardName {
  margin: 0px;
}

#bottomFooter {
  margin-top: 10px;
}

.defaultAnimation {
  -webkit-animation-duration: @animateTime;
  -moz-animation-duration: @animateTime;
  animation-duration: @animateTime;
}

.initialAnimation {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.firstAnimation {
  -webkit-animation-delay: .1s !important;
  -moz-animation-delay: .1s !important;
  animation-delay: .1s !important;
}

@media screen and (max-width: 767px) and (min-width: 321px) {
  h1 {
    font-size: 26px;
  }
  #startQuizBtn {
    margin-left: 15px;
  }
  #mainWell {
    padding-bottom: 12px;
  }
  #bottomFooter {
    margin-top: 60px;
  }
}

@media screen and (max-width: 320px) {
  .form-group {
    margin-bottom: 5px;
  }
  .textHeader {
    margin-bottom: 10px;
  }
  #mainWell {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 400px;
  }
  #instructionText {
    padding-left: 10px;
  }
  #cardCount {
    padding-right: 10px;
  }
  #bottomFooter {
    margin-top: 29px;
  }
  #mainImage {
    width: 210px;
    height: 285px;
    background-size: cover;
    background-position: 0px -22px;
  }
  #startQuizBtn {
    margin-top: 5px;
  }
}


/*
h1 {
  font-family: 'Hearthstone', serif;
} */
